/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: left;
    border: 0;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0.4rem;
}

*::-webkit-scrollbar-track {
    background: #2c2c2a;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--contrast);
    border-radius: 2rem;
}


/* Global */
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
    margin-bottom: 2.4rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

:root {
    --contrast: #e50914;
    --contrast-hover: #C11119;
    --bg-color: #000;
    --text-color: #fff;
    --divider: #232323;
    --input-bg: #070605b0;
    --border-color: #bebebe;
    --download: #0071eb;
    --border-download: rgba(255, 255, 255, 0.2);
    --fonts-inter: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: var(--border-color);
    transition: all .5s;
}

a:hover {
    color: var(--text-color);
    text-decoration: underline;
}

button {
    background-color: var(--contrast);
    color: var(--text-color);
    padding: 1.2rem 2.4rem;
    border-radius: 0.6rem;
    transition: all 0.3s;
    width: 17rem;
    height: 5.6rem;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    font-family: var(--fonts-inter);
}

button:hover {
    background-color: var(--contrast-hover);
}

select {
    font-family: var(--fonts-inter);
}

option {
    color: var(--bg-color);
    font-family: var(--fonts-inter);
    font-family: var(--fonts-inter);
}

.divider-1 {
    width: 100%;
    height: .75rem;
    background-color: var(--divider);
}

.subtitle {
    font-size: 2.4rem;
}

/* Grid */

.container {
    width: 100%;
    max-width: 128.6rem;
    margin: 0 auto;
    padding: 0px 1.5rem;
}

/* Cursor */
.lg-cursor .lg-cursor-pointer:nth-child(2):before {
    background-color: var(--contrast);
}


.lg-cursor .lg-cursor-pointer:first-child:before {
    margin: -12px 0 0 -12px;
    width: 24px;
    height: 24px;
    background: rgb(255 75 75 / 25%);
}

/* Header */

header {
    width: 100%;
    height: 10rem;
    padding: 1.6rem 0;
    display: inline-flex;
    position: relative;
    z-index: 999;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container .logo {
    width: 70%;
}

header .container .logo img {
    width: 15.25rem;
}

header .container .platform {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

select {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 0.6rem 3.6rem;
    border-radius: 0.4rem;
    border: 1px solid var(--border-color);
}


header .container .platform .login {
    width: 8.24rem;
    height: 4rem;
    padding: 0.4rem 1.6rem;
    font-size: 1.6rem;
}


/* Footer */
footer {
    display: flex;
    height: 49rem;
    align-items: center;
}

footer .container .heading {
    font-size: 1.6rem;
}

footer .container nav>ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 6rem;
}

footer .container nav>ul li>ul li {
    margin-top: 2.4rem;
}

footer .container nav>ul li ul li a {
    font-size: 1.6rem;
}

footer .container .footer-end {
    margin-top: 2.4rem;
}

footer .container .footer-end p {
    font-size: 1.6rem;
    margin-top: 2.4rem;
}


/* Hero */

.s-hero {
    height: 70rem;
    display: flex;
    background-image: url("../assets/bg-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10rem;
    z-index: 0;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s-hero:after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 70rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

.s-hero:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 70rem;
    background: rgb(0 0 0 / 40%);
    z-index: 1;
}

.s-hero .container .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-hero .container .conteudo h1 {
    z-index: 5;
}

.s-hero .container .conteudo p {
    margin: 2.4rem 0;
    z-index: 5;
    font-size: 2.4rem;
}

.s-hero .container .conteudo h3 {
    z-index: 5;
    font-size: 2rem;
    font-weight: 400;
}

.s-hero .container .form-inscricao {
    z-index: 5;
    position: relative;
    margin-top: 2.4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.input-group input {
    outline: none;
    padding: 1.2rem 2.4rem;
    height: 5.6rem;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    color: var(--text-color);
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    width: 47.5rem;
}

/* Seção TV */

.s-recursos {
    height: 58.2rem;
}

.s-recursos .container .caixa {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.s-recursos .container .left {
    width: 45%;
}

.s-recursos .container .caixa .right {
    width: 50%;
}

.s-recursos .container .caixa .right .tv {
    position: relative;
}

.s-recursos .container .caixa .right .tv img {
    width: 100%;
    position: relative;
    z-index: 5;
}

.s-recursos .container .caixa .right .tv .video {
    z-index: 1;
    -webkit-transform: translate(-49%, -47%);
    -moz-transform: translate(-49%, -47%);
    -ms-transform: translate(-49%, -47%);
    transform: translate(-49%, -47%);
    position: absolute;
    top: 46%;
    left: 50%;
}

/* Seção Dispositivos */

.s-dispositivos {
    height: 60rem;
    display: flex;
    align-items: center;
}

.s-dispositivos .container .conteudo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}



.s-dispositivos .container .conteudo .left {
    display: flex;
    width: 50%;
}

.s-dispositivos .container .conteudo .left .devices {
    position: relative;
}

.s-dispositivos .container .conteudo .left .devices img {
    width: 100%;
    position: relative;
    z-index: 5;
}

.s-dispositivos .container .conteudo .left .devices .video {
    z-index: 1;
    -webkit-transform: translate(-49%, -47%);
    -moz-transform: translate(-49%, -47%);
    -ms-transform: translate(-49%, -47%);
    transform: translate(-49%, -75%);
    position: absolute;
    top: 46%;
    left: 50%;
}

.s-dispositivos .container .conteudo .left .devices .video video {
    width: 40rem;
}


.s-dispositivos .container .conteudo .right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.s-perfis {
    height: 62rem;
    display: flex;
    align-items: center;
}

.s-perfis .container .conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.s-perfis .container .conteudo .left {
    width: 40%;
}

.s-perfis .container .conteudo .right {
    width: 55%;
}

.s-perfis .container .conteudo .right img {
    width: 90%;
}

/* Seção APP */

.s-app {
    display: flex;
    align-items: center;
    height: 62rem;
}

.s-app .container .conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s-app .container .conteudo .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4rem;
    width: 50%;
}

.s-app .container .conteudo .left img {
    width: 85%;
}

.s-app .container .conteudo .left .download {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
    border: 1px solid var(--border-download);
    border-radius: 0.8rem;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 1);
    width: 29.5rem;
    padding: 1rem;
    margin-top: -13rem;
    justify-content: space-around;
}

.s-app .container .conteudo .left .download .cover {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s-app .container .conteudo .left .download .cover img {
    width: 4.7rem;
}

.s-app .container .conteudo .left .download .cover .heading {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.6rem;
}

.s-app .container .conteudo .left .download .cover .heading h4 {
    font-size: 1.3rem;
    font-weight: 400;
}

.s-app .container .conteudo .left .download .cover .heading h5 {
    color: var(--download);
    font-size: 1.1rem;
    font-weight: 400;
}

.s-app .container .conteudo .left .download .cover .gif {
    background-image: url("../assets/icon-download.gif");
    width: 4.8rem;
    height: 6rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.s-app .container .conteudo .right {
    width: 40%;
}

/* Seção FAQ */

.s-faq {
    display: flex;
    padding: 8rem 0 4.5rem;
}

.s-faq .container .conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s-faq .container .conteudo h2 {
    margin-bottom: 6rem;
}

.s-faq .container .conteudo h3 {
    font-size: 2.8rem;
    font-weight: 400;
}

.s-faq .container .conteudo p {
    font-size: 1.9rem;
}

.s-faq .container .conteudo .question h3 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    column-gap: 1rem;
}

.s-faq .container .conteudo .question {
    border-bottom: 0.1rem solid var(--border-download);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.s-faq .container .conteudo .question p {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: transform .5s ease, opacity .3s ease;
    transform: translateY(-1rem);
    margin-bottom: 1rem;
}

.s-faq .container .conteudo .question.active p {
    opacity: 1;
    visibility: visible;
    height: auto;
    margin-top: 1rem;
    transform: translateY(0);
}

.s-faq .container .conteudo .question h3 i {
    transition: all .3s ease;
    color: var(--contrast);
}

.s-faq .container .conteudo .question.active h3 i {
    transform: rotate(45deg);
    color: var(--contrast-hover);
}

#faqclick {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.title-faq {
    margin-bottom: 1.6rem;
}

.s-faq .container .conteudo .signup {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.s-faq .container .conteudo .signup h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

/* Layout responsivo */

@media (max-width: 1368px) {

    html,
    body {
        font-size: 55%;
    }
}

@media (max-width: 1025px) {

    html,
    body {
        font-size: 45%;
    }

    .s-recursos .container .caixa .right .tv .video video {
        width: 48rem;
    }
}

@media (max-width: 998px) {

    html,
    body {
        font-size: 40%;
    }
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 50%;
    }

    .container {
        padding: 0px 2.5rem;
        max-width: 128.6rem;
    }

    .s-recursos {
        padding: 4rem 0;
        height: 85.8rem;
    }


    .s-hero .container .conteudo h1 {
        width: 80%;
        text-align: center;
    }

    .s-recursos .container .caixa {
        flex-direction: column;
    }

    .s-recursos .container .caixa .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4rem 0;
        z-index: 5;
    }

    .subtitle {
        width: 85%;
        text-align: center;
    }

    .s-recursos .container .caixa .right {
        width: 85%;
        margin-top: -50px;
        z-index: 0
    }

    .s-recursos .container .caixa .right .tv .video video {
        width: 58rem;
    }

    .s-dispositivos .container .conteudo {
        flex-direction: column-reverse;
    }

    .s-dispositivos {
        padding: 4rem 0;
        height: 85.8rem;
    }


    .s-dispositivos .container .conteudo .right {
        width: 100%;
        align-items: center;
    }

    .s-dispositivos .container .conteudo .left {
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }

    .s-dispositivos .container .conteudo .left .devices .video video {
        width: 51rem;
    }

    .s-perfis {
        height: 90rem;
    }

    .s-perfis .container .conteudo {
        flex-direction: column;
        justify-content: center;
    }

    .s-perfis .container .conteudo .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .s-perfis .container .conteudo .right {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    .s-perfis .container .conteudo .right img {
        width: 80%;
    }

    .s-app {
        height: 90rem;
    }
    
    .s-app .container .conteudo {
        flex-direction: column-reverse;
    }

    .s-app .container .conteudo .right {
        width: 100%;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .s-app .container .conteudo .right h2 {
        text-align: center;
    }

    .s-app .container .conteudo .left {
        width: 100%;
        z-index: 1;
        margin-top: 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    html,
    body {
        font-size: 45%;
    }

    .container {
        padding: 0px 2rem;
        max-width: 128.6rem;
    }

    header .container .platform select {
        display: none;
    }

    .s-hero .container .conteudo h1 {
        font-size: 4.2rem;
        width: 100%;
    }

    .s-hero .container .conteudo h3 {
        text-align: center;
    }

    .input-group {
        flex-wrap: wrap;
        justify-content: center;
    }

    .s-recursos {
        height: 65.8rem;
    }

    .s-recursos .container .caixa .right {
        width: 100%;
    }

    .s-recursos .container .caixa .right .tv .video video {
        width: 40rem;
    }

    .s-dispositivos {
        height: 80.8rem;
    }

    .s-dispositivos .container .conteudo .left .devices .video video {
        width: 34rem;
    }

    .s-perfis .container .conteudo .left h2 {
        text-align: center;
    }

    .s-perfis .container .conteudo .right img {
        width: 100%;
    }

    .s-app .container .conteudo .left img {
        width: 100%;
    }

    .s-app .container .conteudo .left .download {
        width: 32.5rem;
    }

    .s-app {
        height: 80rem;
    }

    .s-faq .container .conteudo .signup h3 {
        text-align: center;
        width: 72%;
    }

    footer {
        height: 74rem;
    }

    footer .container nav>ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 6rem;
    }

}